$bootstrap-sass-asset-helper: true;

$brand-primary:         darken(#428bca, 6.5%); // #337ab7
$brand-success:         #5cb85c ;
$brand-info:            #5bc0de ;
$brand-warning:         #f0ad4e ;
$brand-danger: #d9534f ;

//$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../fonts/bootstrap/") !default;